@page "/users"
@using global::Client.Pages.Users

@inherits UsersListBase

@if (users != null)
{
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Oluşturulma Tarhihi</th>
                <th scope="col">İsim-Soyisim</th>
                <th scope="col">Mail Adresi</th>
                <th scope="col">Durum</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.CreateDate</td>
                    <td>@user.FullName</td>
                    <td>@user.EMailAdress</td>
                    <td>@user.IsActive</td>
                </tr>
            }
        </tbody>
    </table>
}
